/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require_self
*/
#holderr { border: 10px dashed #cc1d09; width: 300px; min-height: 300px; margin: 0px auto;}
#holderr.hover { border: 10px dashed #0c0; }
#holderr img { display: block; margin: 10px auto; }
#holderr p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}